button {
    /*height: 30px;
    width: 30px;*/
    outline: none;
}

.control {
    position: absolute;
    top: 9px;
    right: 20px;
    display: none;
}

.control .fa-edit:hover {
    color: #00ca2e;
}

.control .fa-trash-alt:hover {
    color: #ec0000;
}

.control .fa-external-link-alt:hover {
    color: #007bff;
}
.max-height {
    max-height: 564px;
    overflow-y: auto;
}
.list-group {
    display: none;
}

.list-group-item:hover .control {
    display: block;
}

.add .fa-plus-square {
    font-size: 20px;
    margin-top: 15px;
}

.add .fa-plus-square:hover {
    color: #00d600;
    cursor: pointer;
}

.add .fa-plus-square:active {
    color: #0093ff;
}

/*.list-group-item-primary .fa-external-link-alt, .list-group-item-action .fa-external-link-alt{*/
.list-group-item .fa-external-link-alt {
    display: none;
}

.list-group-item.list-group-item-secondary .fa-external-link-alt {
    display: inline-block;
}

.list-group-item form {
    display: none;
}

.list-group-item.edit form {
    display: block;
}

.list-group-item.edit .body_item_group {
    display: none;
}

.list-group-item {
    border: 1px solid #ebebeb;
    font-size: 12px;
    padding: .58rem .9rem;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.none_groups p {
    color: #6c757d;
    margin-bottom: 0;
}

.edit_group {
    display: none;
    margin: 20px;
}

.edit_group .form-text {
    margin-right: 5px;
}

body {
    width: 400px;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #969696;
}

.main-controll {
    position: absolute;
    left: -20px;
    width: 22px;
    height: 100%;
    top: 0;
    font-size: 29px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 2;
    background: white;
    display: block;
}

.main-controll i:hover {
    cursor: pointer;
    color: #5c5e63;
}

.main-controll i {
    color: #a4a5a7;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.top-controll {
    position: absolute;
    right: 5px;
    top: -10px;
}

.top-controll i {
    cursor: pointer;
}

.bg_gray {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000070;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
}

.main-controll-box {
    position: absolute;
    width: 303px;
    /*height: 100%;*/
    top: 50%;
    transform: translateY(-50%);
    right: -303px;
    background: white;
    z-index: 2;
    padding: 14px;
    display: none;
}

.main-controll-box table.navigation {
    width: 100%;
}

.main-controll-box table.navigation tr td:nth-child(1) {
    width: 20%;
}

.main-controll-box table.navigation tr td:nth-child(2) {
    padding-right: 20%;
    width: 80%;
    text-align: center;
}

.list-group-item-secondary {
    color: #8e8e8e;
    background-color: #dedede7d;
}

.add {
    padding-bottom: 10px;
}

#right-box {
    min-width: 400px;
}

.main-control {
    text-align: right;
}

.main-control i {
    margin: 10px 15px 10px -5px;
    cursor: pointer;
    user-select: none;
}

/*
#my_div {
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    transition: all 1000ms ease;
}
.rotate {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
*/

/* хром, сафари */
body::-webkit-scrollbar {
    width: 0;
}

/* ie 10+ */
body {
    -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
body {
    overflow: -moz-scrollbars-none;
}

.front, .back {
    backface-visibility: hidden;
    z-index: 2;
    transition: 0.75s;
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    transform: rotateY(180deg);
}

.back .back-control .title {
    text-align: left;
    width: 80%;
    float: left;
    padding-left: 5px;
    font-weight: 100;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.back .back-control {
    text-align: right;
    padding: 5px 10px 10px 10px;
    height: 36px;
}

.back .back-control i {
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.log-history p {
    margin-bottom: 2px;
}

.log-history {
    font-size: 12px;
}

.back .back-control .question{
    color: #339af0;
    margin-top: 0;
    position: absolute;
    margin-left: 1px;
    cursor: help;
    font-size: 12px;
}

 .arrow::before {
    border-color: #00b4ab;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    left: 1px;
    border-width: .4rem .4rem .4rem 0;
    border-right-color: #00b4ab;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #00b4ab;
}
.tooltip-inner {background-color: #00b4ab;color: #fff;}

.import__controll {
    display: none;
    text-align: center;
}

.import__controll button {
    margin-inside: 5px;
}

.import__controll .top-control button {
    font-size: 10px;
    padding: 2px 7px;
}

.import__controll .top-control{
    text-align: left;
    margin-left: 31px;
    margin-top: 10px;
    margin-bottom: -5px;
}

.listElementsImport {
    text-align: initial;
    margin: 10px 13% 20px;
    user-select: none;
}


.listElementsImport i.fa-link:hover {
    color: #007bff;
    cursor: pointer;
}

.listElementsImport .elementImport__title {
    position: relative;
    display: inline-block;
}

.listElementsImport .elementImport__title i {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: -14px;
}

.listElementsImport .elementImport__title i:hover {
    text-shadow: 0 0 4px #339af0;
    cursor: pointer;
}

.listElementsImport .elementImport__tabs {
    margin: 0 0 10px 15px;
    display: none;
}